<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>传统艺术</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>民间舞蹈</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>民间工艺</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>民风民俗</string>
		<key>icon</key>
		<string></string>
	</dict>
</array>
</plist>
