<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict/>
	<dict>
		<key>icon</key>
		<string>guird</string>
		<key>header</key>
		<string>为您推荐</string>
		<key>informations</key>
		<array>
			<dict>
				<key>detail</key>
				<string>¥ 60 | 泉州市丰泽区清源山</string>
				<key>name</key>
				<string>清源山风景名胜区（AAAAA）</string>
				<key>icon</key>
				<string>qingyuanshan</string>
			</dict>
			<dict>
				<key>detail</key>
				<string>¥ 10 | 泉州市鲤城区西街176号</string>
				<key>name</key>
				<string>开元寺（AAAA）</string>
				<key>icon</key>
				<string>kaiyuansi</string>
			</dict>
			<dict>
				<key>detail</key>
				<string>12.31 | 泉州市木偶剧院</string>
				<key>name</key>
				<string>大型神话剧《火焰山》</string>
				<key>icon</key>
				<string>huoyanshan</string>
			</dict>
			<dict>
				<key>detail</key>
				<string>3.29 | 泉州市高甲戏传承中心</string>
				<key>name</key>
				<string>《金钗记》</string>
				<key>icon</key>
				<string>jinchaiji</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>like</string>
		<key>header</key>
		<string>猜您喜欢</string>
		<key>informations</key>
		<array>
			<dict>
				<key>location</key>
				<string>泉州鲤城区新门街610号</string>
				<key>name</key>
				<string>源和1916文化创意产业园</string>
				<key>icon</key>
				<string>yuanhe1916</string>
			</dict>
			<dict>
				<key>location</key>
				<string>泉州鲤城区原泉州机电厂</string>
				<key>name</key>
				<string>六井孔音乐文化创意园</string>
				<key>icon</key>
				<string>liukongjing</string>
			</dict>
			<dict>
				<key>location</key>
				<string>泉州鲤城区泉秀街</string>
				<key>name</key>
				<string>领SHOW天地文化创意产业园</string>
				<key>icon</key>
				<string>lingshow</string>
			</dict>
			<dict>
				<key>location</key>
				<string>泉州丰泽区美食街</string>
				<key>name</key>
				<string>泉州美食街</string>
				<key>icon</key>
				<string>meishijie</string>
			</dict>
			<dict>
				<key>location</key>
				<string>泉州师范学院陈祖昌大礼堂</string>
				<key>name</key>
				<string>南音新作《凤求凰》</string>
				<key>icon</key>
				<string>fengqiuhuang</string>
			</dict>
			<dict>
				<key>location</key>
				<string>泉州鲤城区新门街610号</string>
				<key>name</key>
				<string>源和1916文化创意产业园</string>
				<key>icon</key>
				<string>yuanhe1916</string>
			</dict>
			<dict>
				<key>location</key>
				<string>泉州鲤城区原泉州机电厂</string>
				<key>name</key>
				<string>六井孔音乐文化创意园</string>
				<key>icon</key>
				<string>liukongjing</string>
			</dict>
			<dict>
				<key>location</key>
				<string>泉州鲤城区泉秀街</string>
				<key>name</key>
				<string>领SHOW天地文化创意产业园</string>
				<key>icon</key>
				<string>lingshow</string>
			</dict>
			<dict>
				<key>location</key>
				<string>泉州丰泽区美食街</string>
				<key>name</key>
				<string>泉州美食街</string>
				<key>icon</key>
				<string>meishijie</string>
			</dict>
			<dict>
				<key>location</key>
				<string>泉州师范学院陈祖昌大礼堂</string>
				<key>name</key>
				<string>南音新作《凤求凰》</string>
				<key>icon</key>
				<string>fengqiuhuang</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
