<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ticket</key>
		<array>
			<string>您最晚要在当前08:00前下单，请尽早预定，一面耽误行程。</string>
			<string>取票方式：请凭预定成功段兴至景区售票服务中心取票，门票仅供一次使用，请合理安排您的时间。\n改退须知：退票收取1元手续费，有效期内无条件改期。检票后十位该票已经使用，不退不换。</string>
			<string>开放时间：07:00 - 18:00</string>
		</array>
		<key>common</key>
		<string>425</string>
		<key>old_price</key>
		<string>70</string>
		<key>price</key>
		<string>65</string>
		<key>location</key>
		<string>泉州市丰泽区清源山</string>
		<key>star</key>
		<string>4.5</string>
		<key>desc</key>
		<string>清源山国家重点风景区是泉州十八景之一，也是国家级重点风景名胜区，由清源山、灵山圣墓三大片区组成，总面积六十二平方公里。清源山景区方圆有四十华里，主峰海拔498米，与泉州市山城相依，吸引了众多的海外游客。</string>
		<key>icon</key>
		<string>qingyuanshan</string>
		<key>images</key>
		<array>
			<string>laojunyan0</string>
			<string>laojunyan1</string>
			<string>laojunyan2</string>
		</array>
		<key>name</key>
		<string>清源山（AAAA）</string>
	</dict>
	<dict>
		<key>images</key>
		<array>
			<string>kaiyuansi</string>
			<string>laojunyan1</string>
			<string>laojunyan2</string>
		</array>
		<key>common</key>
		<string>851</string>
		<key>old_price</key>
		<string>20</string>
		<key>price</key>
		<string>10</string>
		<key>location</key>
		<string>泉州市鲤城区西街176号</string>
		<key>star</key>
		<string>4</string>
		<key>desc</key>
		<string>开元寺位于福建省泉州市鲤城区西街，是中国东南沿海重要的文物古迹，也是福建省内规模最大的佛教寺院。该寺始创于唐初垂拱二年（686年），初名莲花道场，开元二十六年（738年）更名开元寺。现存主要庙宇系明、清两代修建，南北长260米，东西宽300米，占地面积78000平方米。</string>
		<key>icon</key>
		<string>kaiyuansi</string>
		<key>name</key>
		<string>开元寺</string>
	</dict>
	<dict>
		<key>images</key>
		<array>
			<string>chongwugucheng</string>
			<string>laojunyan1</string>
			<string>laojunyan2</string>
		</array>
		<key>common</key>
		<string>425</string>
		<key>old_price</key>
		<string>20</string>
		<key>price</key>
		<string>10</string>
		<key>location</key>
		<string>泉州市惠安县崇武镇</string>
		<key>star</key>
		<string>4</string>
		<key>desc</key>
		<string>地处福建省泉州市沿海的突出部、泉州湾和湄州湾之间、惠安县境东南24公里的崇武半岛南端，濒临台湾海峡，亦称“莲岛”，始建于1387年，是一处集滨海风光、历史文物、民俗风情、雕刻艺术于一体的国家AAAA级旅游景区，被誉为“天然影棚”、“南方北戴河”。崇武古城是中国仅存的一座比较完好的明代石头城，也是中国海防史上一个比较完整的史迹，为“全国重点文物保护单位”。</string>
		<key>icon</key>
		<string>chongwugucheng</string>
		<key>name</key>
		<string>崇武古城</string>
	</dict>
	<dict>
		<key>images</key>
		<array>
			<string>tonghuaiguanyuemiao</string>
			<string>laojunyan1</string>
			<string>laojunyan2</string>
		</array>
		<key>common</key>
		<string>42</string>
		<key>old_price</key>
		<string>20</string>
		<key>price</key>
		<string>10</string>
		<key>location</key>
		<string>泉州市鲤城区涂门街</string>
		<key>star</key>
		<string>4</string>
		<key>desc</key>
		<string>通淮关岳庙位于泉州市鲤城区涂门街，俗称涂门关帝庙，主祀关羽，民国三年 (1914年)增祀岳飞，故改现名。是祭祀文（孔子）武（关羽）圣的著名古迹，也是福建省现存规模最大的武庙。</string>
		<key>icon</key>
		<string>tonghuaiguanyuemiao</string>
		<key>name</key>
		<string>通淮关岳庙</string>
	</dict>
	<dict>
		<key>images</key>
		<array>
			<string>luoyangqiao</string>
			<string>laojunyan1</string>
			<string>laojunyan2</string>
		</array>
		<key>common</key>
		<string>175</string>
		<key>old_price</key>
		<string>0</string>
		<key>price</key>
		<string>0</string>
		<key>location</key>
		<string>泉州市东郊洛阳江</string>
		<key>star</key>
		<string>4.5</string>
		<key>desc</key>
		<string>距福建泉州城5公里，北宋皇祐五年至嘉祐四年(1053～1059年)由泉州知州蔡襄主持修造。列为国家级重点文物保护单位。桥长834米，宽7米。作为中国现存最早的跨海石桥，其“筏型基础”、“种[1]  蛎固基法”，是中国乃至世界造桥技术创举，充分显示了中国古代汉族劳动人民的非凡智慧。</string>
		<key>icon</key>
		<string>luoyangqiao</string>
		<key>name</key>
		<string>洛阳桥</string>
	</dict>
	<dict>
		<key>images</key>
		<array>
			<string>niumuling</string>
			<string>laojunyan1</string>
			<string>laojunyan2</string>
		</array>
		<key>common</key>
		<string>76</string>
		<key>old_price</key>
		<string>45</string>
		<key>price</key>
		<string>40</string>
		<key>location</key>
		<string>泉州市永春县下洋镇境内</string>
		<key>star</key>
		<string>4</string>
		<key>desc</key>
		<string>坐落在福建省泉州市西部永春县下洋镇境内，距县城70公里，是国家4A级旅游区。北边有着中国最美的高山草甸兔耳岭，南边有中国最美的岛屿鼓浪屿，在福建沿海旅游中间地带，福建省首批自然保护区，福建省生态教育基地、科普教育基地及小公民道德建设示范基地，是泉州十八景之一。</string>
		<key>icon</key>
		<string>niumuling</string>
		<key>name</key>
		<string>牛姆林</string>
	</dict>
	<dict>
		<key>images</key>
		<array>
			<string>qingjingsi</string>
			<string>laojunyan1</string>
			<string>laojunyan2</string>
		</array>
		<key>common</key>
		<string>69</string>
		<key>old_price</key>
		<string>10</string>
		<key>price</key>
		<string>3</string>
		<key>location</key>
		<string>泉州市鲤城区涂门街108-112号</string>
		<key>star</key>
		<string>4</string>
		<key>desc</key>
		<string>位于福建省泉州市区涂门街，是阿拉伯穆斯林在中国创建的现存最古老的伊斯兰教寺，始建于北宋大中祥符二年（公元1009年），是年为回历400年。</string>
		<key>icon</key>
		<string>qingjingsi</string>
		<key>name</key>
		<string>清净寺</string>
	</dict>
</array>
</plist>
